<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="KNTNet" />
        <binding name="KNTNet1" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:8080/KNTNet.svc" binding="basicHttpBinding"
        bindingConfiguration="KNTNet" contract="IKNTNet" name="KNTNet" />
      <endpoint address="http://localhost:8080/KNTNet.svc" binding="basicHttpBinding"
        bindingConfiguration="KNTNet1" contract="KNT_SrvRef.IKNTNet"
        name="KNTNet1" />
    </client>
  </system.serviceModel>
</configuration>