<?xml version="1.0"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="KNTNet" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:15608/KNTNet.svc/KNT" binding="basicHttpBinding"
                bindingConfiguration="" contract="IKNTNet" name="WSHttpBinding_IKNTNet">
                <identity>
                    <userPrincipalName value="wikkidoo-GAMING\wikkidoo" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:15608/KNTNet.svc" binding="basicHttpBinding"
                bindingConfiguration="KNTNet" contract="KNT_ServiceReference.IKNTNet"
                name="KNTNet" />
        </client>
    </system.serviceModel>
</configuration>
