<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="KNTNet" closeTimeout="10:01:00" openTimeout="10:01:00"
          receiveTimeout="10:10:00" sendTimeout="10:01:00" maxBufferPoolSize="2147483647"
          maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647"
            maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
        </binding>
        <binding name="KNTNet1" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:8080/KNTNet.svc" binding="basicHttpBinding"
        bindingConfiguration="KNTNet" contract="IKNTNet" name="KNTNet" />
      <endpoint address="http://localhost:8080/KNTNet.svc" binding="basicHttpBinding"
        bindingConfiguration="KNTNet1" contract="KNT_ServiceReference.IKNTNet"
        name="KNTNet1" />
    </client>
  </system.serviceModel>
</configuration>